<!-- Route : "/MealRecommendation"
Render when View Recommendation button on CartDetailPage is clicked
Input : List of Meals as per ML algo
Display : List of objects with Meal name as link(do nothing for now), Add Meal button and Add missing ingredients button.
Add Meal button: call AddToCart function with MealID as paramter
Add Missing Ingredients button : call AddMissingProduct function with MealID as paramter
Skip Recommendation button at the end : will do nothing for now
Future : We can keep track of number of hits on this button to measure how many people are actually using our recommendations -->
